<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>spmis</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/pulse/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css?h=1ebaba3465f39106375be623a0ebab45">
    <link rel="stylesheet" href="assets/css/Article-Clean.css?h=2a2c577c4c5d790275ee2075fbb1290f">
    <link rel="stylesheet" href="assets/css/Bootstrap-4-Calendar-No-Custom-Code.css?h=27b43cb3c28295c0253e528219a5bbc4">
    <link rel="stylesheet" href="assets/css/chatting.css?h=8dfaa6f8bfc8db01730acbb83fefc852">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Login-Box-En-login-box-en.css?h=2f98490675fe81362a5b1bc6d43c93bc">
    <link rel="stylesheet" href="assets/css/Navbar-With-Button.css?h=befd8a398792e305b7ffd4a176b5b585">
    <link rel="stylesheet" href="assets/css/sidebar.css?h=ef67cc3593ec8a32e1dcc9f761b93dbd">
</head>

<body style="padding-left: 14rem;">
    <div th:insert="~{commons/project_navbar::project_navbar}"></div>
    <div th:insert="~{commons/nav_sidebar::nav_sidebar}"></div>
    <main>
        <div class="container">
            <div class="card-group flex-column">
                <div class="card shadow-sm mb-2">
                    <div class="card-body">
                        <h4 class="card-title"><strong>작업 목록</strong><br></h4>
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-1">To do</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-2">Doing</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3">Done</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" role="tabpanel" id="tab-1">
                                    <p class="mt-2">해야 할 일 목록</p>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-3">프로젝트 번호</th>
                                                    <th class="col-md-6">업무 내용</th>
                                                    <th class="col-md-2">마감 시간</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="task : ${tasks}" th:if="${task.getKanban_status() == 'TO DO'}">
                                                    <td><a th:href="@{/project(project_id=${task.getProject_id()} ) }" th:text="${task.getProject_id()}">프로젝트 번호</a></td>
                                                    <td th:text="${task.getTask_subject()}">업무 내용</td>
                                                    <td th:text="${task.getFinal_expect_date()}">Cell 3</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane active" role="tabpanel" id="tab-2">
                                    <p>현재 진행 중인 작업 목록</p>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-3">프로젝트 명</th>
                                                    <th class="col-md-6">업무</th>
                                                    <th class="col-md-3">마감시간</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="task: ${tasks}" th:if="${task.getKanban_status() == 'DOING'}">
                                                    <td><a th:href="@{/project(project_id=${task.getProject_id()} ) }" th:text="${task.getProject_id()}">프로젝트 명1</a></td>
                                                    <td th:text="${task.getTask_subject()}">Cell 2</td>
                                                    <td th:text="${task.getFinal_expect_date()}">Cell 3</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="tab-3">
                                    <p>완료한 작업 목록</p>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-3">프로젝트 명</th>
                                                    <th class="col-md-6">업무</th>
                                                    <th class="col-md-3">종료시간</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="task: ${tasks}" th:if="${task.getKanban_status() == 'DONE'}">
                                                    <td><a th:href="@{/project(project_id=${task.getProject_id()} ) }" th:text="${task.getProject_id()}">프로젝트 명1</a></td>
                                                    <td th:text="${task.getTask_subject()}">Cell 2</td>
                                                    <td th:text="${task.getFinal_expect_date()}">Cell 3</td>
                                                </tr>
                                                <tr></tr>
                                                <tr></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow-sm mb-2">
                    <div class="card-body shadow-sm mt-2">
                        <h4 class="card-title">내 프로젝트 목록</h4>
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-4"><strong>진행중인 프로젝트</strong><br></a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-5">종료한 프로젝트</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" role="tabpanel" id="tab-4">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>프로젝트 명</th>
                                                    <th>생성 날짜</th>
                                                    <th>공개 상태</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="project :${projectList}" th:if="${project.getProject_final_date() == null}">
                                                    <td><a th:href="@{/project(project_id=${project.getProject_id()} ) }" th:text="${project.getProject_name()}">프로젝트 명</a></td>
                                                    <td th:text="${project.getProject_create_date()}">0000.00.00</td>
                                                    <td>public</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane active" role="tabpanel" id="tab-5">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>프로젝트 번호</th>
                                                    <th>생성 날짜</th>
                                                    <th>공개 상태</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="project : ${projectList}" th:if="${project.getProject_final_date() != null}">
                                                    <td><a th:href="@{/project(project_id=${project.getProject_id()} ) }" th:text="${project.getProject_name()}">프로젝트 번호</a></td>
                                                    <td th:thext="${project.getProject_create_date()}">0000.00.00<br></td>
                                                    <td th:text="${project.getPrivocy_scope}">public</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow-sm me-2">
                    <div class="card-body shadow-sm me-2">
                        <h4 class="card-title">참여 디스코드 회의방 목록</h4>
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-6">목록</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" role="tabpanel" id="tab-6">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>프로젝트 번호</th>
                                                    <th>회의 링크</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="link : ${links}">
                                                    <td><a th:href="@{/project?(project_id=${link.getProject_id()}}" th:text="${link.getProject_id()}">프로젝트 없음</a></td>
                                                    <td th:href="@{${link.getLink()}}" th:text="${link.getLink()}">디스코드링크없음</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="tab-7">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>프로젝트 명</th>
                                                    <th>회의 명</th>
                                                    <th>회의 일자</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><a href="#">프로젝트 명3</a></td>
                                                    <td>Cell 2</td>
                                                    <td>Cell 3</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-init.js?h=4c643c874b5981a6c1263e3cc0da5c12"></script>
    <script src="assets/js/chatting.js?h=f99a3642ba4c6f898c052dc2bd3c7f47"></script>
    <script src="assets/js/modal.js?h=87fe8ddc985405bc46aff16b27ecd5fb"></script>
    <script src="assets/js/sidebar.js?h=5698962290ef9fcb7ad2ffc60db8773a"></script>
    <script src="assets/js/taskcntchart.js?h=4b57bf467223ce24ad24242342f8358e"></script>
    <script src="assets/js/tinymce.js?h=48e4b34e223a725be43d90031ad9cc1f"></script>
</body>

</html>